<!DOCTYPE html>
<html>
    <head>
        <title>Ekspedisi Barang</title>
        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    </head>
    
    <body>
        
        <div class="navbar">
            <div class="navbarTitle">
                <a href="/menu"><h1>Ekspedisi Barang</h1></a>
            </div>
            <div class="navbarItems">
                <div class="navbarLinks">
                    <a href="/pelanggan">Pelanggan</a>
                    <a href="/kurir">Kurir</a>
                    <a href="/barang">List Barang</a>
                    <a href="/pengiriman">List Pengiriman</a>
                    <a href="/transaksi">List Transaksi</a>
                    <a th:href="@{/logoutMenu}">Logout</a>
                </div>
            </div>
        </div>

        <div class="homeScreen">
            <h1>PT Kelompok 5</h1>
            <div class="anggota">
                <h2>Disusun Oleh:</h2>
                <h2>Jericho Cristian Ocello Bunadi | 825230088</h2>
                <h2>Wallace Grisven | 825230083</h2>
                <h2>Ricky Chandra | 825230071</h2>
            </div>
        </div>

    </body>
</html>